<!DOCTYPE html>
<html>
	<head>
		<title>COVID Wars</title>
		<meta
			name="description"
			content="Secure Real-Time Multiplayer Game project"
		/>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1"
		/>
		<link
			rel="stylesheet"
			href="../public/style.css"
			type="text/css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap"
			rel="stylesheet"
		/>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body>
		<header>
			<h1>COVID Wars: Multiplayer game</h1>
		</header>
		<div>
			<p>
				Keep your health up to increase rank position by
				getting your vaccine, keep away from the virus and
				remember the social distancing rule!
			</p>
		</div>
		<div class="container">
			<canvas
				ref="game"
				id="game-window"
				width="740"
				height="540"
			>
			</canvas>
		</div>
		<p class="mobile-msg">Play on the computer!</p>
		<footer class="footer"><p>Panda4817, 2021</p></footer>
	</body>
	<script src="../public/game.mjs" type="module"></script>
</html>
