body {
  margin: 20px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

code {
  background: #d0d0d5;
}

canvas {
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
}
.footer {
  padding: 20px;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
  .mobile-msg {
    display: none;
  }
}

@media (max-width: 799px) {
  .mobile-msg {
    display: block;
  }
}
